@font-face{
    font-family: 'Panthera';
    src: url(fonts/Panthera.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'BEYNO';
    src: url(fonts/BEYNO.otf) format('opentype'), url(fonts/BEYNO.tff) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'wakanda-panther';
    src: url(fonts/wakanda-panther.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'Cantarell', sans-serif;
    color: #FFFFFF;
    background-image: linear-gradient(to right,#000818,#1e3052);
    background-repeat: no-repeat;
}

/* en-tête */
nav{
    font-family: 'Panthera', sans-serif;
    display: flex;
}
.logo-home{
    padding: 2em 10em;
}
.menu{
    display: flex;
}